# rbIRCd Config File
# Edit with care. This file is in YAML format. # denotes comments.

# The name that the server goes by. Can actually resolve to the server
# with DNS, but does not have to - just has to be a valid name. If
# rbIRCd ever links, this will need to be unique.
server-name: localhost.

# The comment that is put next to this server in stuff like /whois, 
# /links, etc. Will not need to be unique.
server-desc: Ruby IRCd

# Name of the network. This is what the client sees. If rbIRCd ever
# links, this will also be used in stuff like /who.
network-name: rbIRCd

# Server numeric. Not used yet, but will be if/when rbIRCd ever links.
server-numeric: 1

# Set up listeners. There is no SSL yet; the "ssl: yes/no" flag is ignored.
# Add as many as you want, and you can use any param ordering (as in the O:Line
# section), just make sure each sublock has a - before the line. USE SPACES
listens:
  - interface: 0.0.0.0
    port: 6667
    ssl: no
    
  - interface: 127.0.0.1
    port: 1337
    ssl: no

# Modes that will be applied to new channels.
default-chan-modes: ns

# The MOTD. For more info on this, see doc/motd.txt
#motd-file: rbIRCd.motd
motd-program: echo "Hi, %n!" | cowsay; echo "\nTHIS! IS! SPARTA!\nrbIRCd by danopia"

# Maximum number of channels the server can have
max-channels: 20

# Maximum number of channels a user can join
max-channels-per-user: 10

# Maximum nickname length
max-nick-length: 30

# Maximum channel length
max-channel-length: 32 

# Maximum topic message length
max-topic-length: 307

# Maximum kick message length
max-kick-length: 307

# Maximum away message length
max-away-length: 307

# ...?
# ,,,!
max-targets: 20

# Channel that opers are autojoined to
oper-channel: '#staff'

# O:Lines. As long as each O:line starts with a -, the stuff in it can
# be in any order. Indent with _spaces_!!!
opers:
  - login: bob
    pass: foobar
    perms: gzline, gline, kline, zline, override
    
  - login: phil
    pass: blah
    perms: gzline

# Numeric 005 responses:
features:
  namesx: true # Extended /NAMES information is available
  safelist: true # LIST is sent in chunks to prevent SendQ exceeding
  maxchannels: 20 # max-channels, replaced with chanlimit
  chanlimit: "#:20" # max channels per prefix; #&!:10,+:20
  maxlist: "b:60,e:60,I:60" # replaces maxbans; beI:30
  nicklen: 30 # max-nick-length
  channellen: 32 # max-channel-length
  topiclen: 307 # max-topic-length
  kicklen: 307 # max-kick-length
  awaylen: 307 # max-away-length
  maxtargets: 20 # max-targets; PRIVMSG, NOTICE targets; 4 in hybrid
  wallchops: true # NOTICE @#channel; replaced by STATUSMSG
  watch: 128 # max number of WATCHes allowed
  silence: 15 # SILENCE command list size
  modes: 12 # max mode changes per command
  chantypes: "#" # #&!+
  prefix: "(qaohv)~&@%+" # (modes)prefixes
  chanmodes: "beI,kfL,lj,psmntirRcOAQKVCuzNSMTG" # list, always param, param when set, never param
  network: NinthBit # network-name; EFnet IRCNet UnderNet DALnet
  casemapping: ascii # or rfc1459 ( {}|~ lowercase of []\^ ); strict-rfc1459 (~^ are different)
  extban: "~,cqnr" # prefix[.],types[a-z]; Specifies extended bans supported.. `Prefix` specifies the symbol all extbans prefix with and `Types` specifies what extbans are available.
  elist: MNUCT # LIST search extensions (mask, !mask, usercount(<>), created at(C<,C>), topic (T< T>)
  statusmsg: "~&@%+" # PRIVMSG ~#channel; from PREFIX
  excepts: true # EXCEPTS=e
  invex: true # INVEX=I
  cmds: "KNOCK,MAP,DCCALLOW,USERIP" # Defines commands that the client software should know exists for usage

  # These aren't used but I'll doc them anyway
  # hcn: true # Hybrid Connect Notice protocol (whatever that is). Has to do with "Client connecting" messages I think
  # chidlen: 5 # RFC2811; !channels; replaced by IDCHAN
  # idchan: "!:5" # RFC2811; !channels
  # wallvoices: true # Notice to +#channel goes to all voiced persons
  # whox: true # WHOX protocol used by WHO command
  # callerid: true # server-side ignores; umode +g; <http://www.ircd-hybrid.org/docs/modeg.txt>
  # language: '2,en,i-klingon' # [Experimental] LANGUAGE command <http://cvs.sf.net/cgi-bin/viewcvs.cgi/kineircd/kineircd/doc/LANGUAGE?rev=HEAD>
  # rfc2812: true # <http://www.faqs.org/rfcs/rfc2812.html>
  # knock: true # KNOCK exists. This is in :cmds
  # vchans: true # virtual channels supported <http://www.ircd-hybrid.org/docs/vchans.txt>
  # userip: true # USERIP command exists. This is in :cmds
  # cprivmsg: true # CPRIVMSG command; CPRIVMSG channel nick,nick2,... :text; why not just PRIVMSG with multitargets?
  # cnotice: true # CNOTICE command; CNOTICE channel nick,nick2,... :text; why not just NOTICE with multitargets?
  # penalty: true # Server gives extra penalty to some commands instead of the normal 2 seconds per message and 1 second for every 120 bytes in a message.
  # fnc: true # server may force nick changes without the client asking
